.about {
  background-image: url("../image/Rectangle.png");
  height: 692px;
  background-size: cover;
  background-position: center;
  padding-top: 100px;

  // &__img{
  //   width: 291px;
  //   height: 90px;
  // }
&__line{
  height: 90px;
  display: flex;
  align-items: center;
  
}
  &__line-item {
   width: 223px;
   border-bottom: 1px solid white;
   height: 0;

  }
}