.basic {
  justify-content: center;
  align-items: center;
  background-image: url"../image/fonstola.png";

  &__line {
    width: 317px;
    height: 0;
    border-top: 1px solid #FFFFFF;
  }
    &__astronaut {
      width: 22em;


      &__line {
        border: 1px solid gray;
        height: 0;
        width: 15%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__astronavt-direction {
    color: white;
    width: 235px;
    font-size: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &__name {
      font-size: 104px;
    }
  }

&__footer {
  color: white;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 80px;

  &__text {
    width: 199px;
    height: 105px;
    size: 30px;
    content: "Используйте эффективные элементы";
    color: white;
    position: absolute;
    top: 150px;
    left: 100px;
    vertical-align: middle;
    line-height: 100%;

    &__text {
      width: 199px;
      height: 105px;
      font-size: 30px;

      &year {
        display: flex;
        align-items: flex-end;
      }
    }
  }
}